@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  @include for-desktop-up() {
    background: #d4d4d4;
  }
}
.App {
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
.won__navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: inline-block;
  background: #4b6584;
  width: 100%;
  height: 48px;
  @include for-desktop-up() {
    background: none;
    width: auto;
    height: auto;
  }
  .won__navbar__overlay {
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background: #4b6584;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include for-desktop-up() {
      height: 100vh;
      width: 0;
    }
    a {
      font-size: 5rem;
      line-height: 2;
      color: #fff;
      &:hover {
        text-decoration: none;
        color: #d4d4d4;
      }
    }
  }
  &.active {
    .won__navbar__overlay{
      height: 100vh;
      @include for-desktop-up() {
        width: 100vw;
      }
    }
  }
  .menu__icon {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 20px;
    right: 16px;
    top: 16px;
    margin-left: auto;
    z-index: 3;
    @include for-desktop-up() {
      right: 170px;
      top: 40px;
    }
    .menu__icon__lines {
      width: 100%;
      height: 3px;
      background: #000;
      display: block;
      position: absolute;
      top: 8px;
      transition: all .4s ease-in-out;
      opacity: 1;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: 16px;
      }
      &.deactivated {
        opacity: 0;
      }
      &.line-a {
        top: 8px;
        transform: rotate(315deg);
      }
      &.line-b {
        top: 8px;
        transform: rotate(-315deg);
      }

    }
  }
}
.signed-out__links {
  display: flex;
  padding-left: 0;
  li {
    list-style: none;
    margin-right: 0.5rem;
  }
}

// ######### SIGNIN BLOCK

.sign-in__container {
  .sign-in {
    max-width: 400px;
    position: absolute;
    top: 128px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #fff;
    color: #e74c3c;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
  }
}

// ######### WORKOUT FILTER
.workout-filter {
  justify-content: flex-end;
  .btn {
    margin: 10px;
  }
}
.workout__header {
  text-align: center;
  line-height: 30vh;
  font-size: 2.5rem;
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: -1;
  height: 40vh;
  @include for-desktop-up {
    height: 24vh;
    z-index: -1;
    position: static;

  }
}

.workouts {
  width: 100%;  
}
.workout-row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  .workout__column {
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
  }
}
.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include for-desktop-up {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 0 32px;
  }
  border: none;
  .workout__card{
    flex: 0 0 31%;
    margin: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    @include for-desktop-up() {
      max-width: 400px;
    }
    .workout__image {
      display: none;
      @include for-desktop-up() {
        display: initial;
        max-width: 368px;
        height: auto;
        img {
          width: 100%;
          object-fit: cover;
          margin-bottom: 16px;
        }
      }
    }
    .btn-group {
      position: absolute;
      right: 16px;
      top: 16px;
      .btn-edit,
      .btn-delete {
        font-size: 1rem;

      }
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

 .card-title {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .training-details {
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      list-style: none;
      padding: 5px 8px;
      font-size: 1rem;
      color: #555;
      border-right: 1px solid #000;
      &:nth-last-child(-n+2),
      &:last-child {
        border-color: transparent;
      }
      i {
        padding: 0 4px;
      }
    }
    .training-detail--type {
      position: absolute;
      bottom: 8px;
      right: 6px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 1;
      padding: 2px 10px;
      text-shadow: 2px 4px 4px rgba(150, 150, 150, 1);
      color: #fff;
    }
    .fa-times {
      font-size: 0.9rem;
    }
  }
  .btn-edit,
  .btn-delete {
    padding: 0 0 0 20px;
    font-size: 1.3rem;
  }
  .btn-edit {
    color: #444;
    &:hover {
      color: #000;
    }
  }
  .btn-delete {
    color: #e74c3c;
    &:hover {
      color: #c0392b;
    }
  }
}
.create__workout {
  max-width: 100%;
  min-height: 100vh;
  padding: 32px;
  padding: 32px;
  background: #fff;
  @include for-desktop-up() {
    max-width: 60vw;
    min-height: auto;
    margin: 96px auto 0;
    border: 2px solid #778ca3;
    border-radius: 8px;
  }
  .btn{
    &.btn-primary {
      margin-left: 16px;
      display: inline-block;
      width: 80px;
    }
    &.btn-danger {
      display: inline-block;
      width: 80px;
    }
  }
}

// SIDE_BAR
.won__dashboard {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  @include for-desktop-up(){
    overflow: hidden;
    flex-direction: row;
    position: relative;
    background: #fff;
    border-radius: 16px;
    border: 8px solid #d4d4d4;
  }
}
.sidebar {
  position: absolute;
  width: 100%;
  height: auto;
  top: 15vh;
  @include for-desktop-up() {
    position: static;
    width: 20vw;
    height: 100vh;
    padding: 16px;
    background: #4b6584;

  }
  &__logo {
    position: relative;
    top: -108px;
    left: -98px;
    margin: 4px auto 32px;
    z-index: 2;
    @include for-desktop-up() {
      position: static;
    }
    a {
      font-size: 2.5rem;
      color: #fff;
      text-align: center;
      display: block;
      text-decoration: none;
    }
  }
  .filter {
    &__title {
      display: block;
      color: #fff;
      font-size: 1.2rem;
      margin-left: 8px;
      margin-bottom: 0;
    }
    &__group {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 8px;
      width: 100%;
      @include for-desktop-up() {
        width: auto;
      }
      .filter-btn {
        flex-grow: 1;
        background: none;
        border: 1px solid;
        border-color: #778ca3;
        border-radius: 4px;
        color: #778ca3;
        cursor: pointer;
        &:not(:first-child) {
          margin-left: 8px;
        }
        &.active {
          color: #20bf6b;
          border-color: #20bf6b;
        }
      }
      .filter-btn-clear {
        color: #d1d8e0;
        border: 1px solid;
        margin-left: 8px;
        border-color: #d1d8e0;
        border-radius: 4px;
        background: none;
        flex-grow: 1;  
        display: none;      
        @include for-desktop-up() {
          width: 100%;
          margin-top: 16px;
          margin-left: 0;
        }
        &.active {
          background: #fff;
          color: #000;
          border-color: #000;
          cursor: pointer;
        }
      }
    }

  }
}

.workout__add__btn {
  position: relative;
  top: 40vh;
  padding: 0 8px;
  @include for-desktop-up() {
    position: static;   
  }
  button {
    width: 100%;
    font-weight: bold;
    border: 1px solid;
    border-color: #fff;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      color: #d4d4d4;
      background: none;
    }
  }
}

.user-profile {
  display: none;
  span {
    display: inline-block;
    text-align: center;
    height: 100%;
    line-height: 2;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid black;
  }
}